.logo-svg-g-1 {
  fill: #3fae52;
}

.logo-svg-g-2 {
  fill: #3fae52;
}

.logo-svg-g-3 {
  fill: #2d8d43;
}

.logo-svg-c-1 {
  fill: #00bad2;
}

.logo-svg-c-2 {
  fill: #0097a7;
}

.logo-svg-c-3 {
  fill: #4ac4d7;
}

.logo-svg-c-4 {
  fill: #00bad2;
}

.logo-svg-b-1 {
  fill: #62b3e4;
}

.logo-svg-b-2 {
  fill: #1b77bd;
}

.logo-svg-b-3 {
  fill: #62b3e4;
}

.logo-svg-b-4 {
  fill: #3191cf;
}

.logo-svg-pu-1 {
  fill: #7a3594;
}

.logo-svg-pu-2 {
  fill: #944198;
}

.logo-svg-pu-3 {
  fill: #b06eae;
}

.logo-svg-pu-4 {
  fill: #944198;
}

.logo-svg-pi-1 {
  fill: #e81f64;
}

.logo-svg-pi-2 {
  fill: #c21e5c;
}

.logo-svg-pi-3 {
  fill: #f06392;
}

.logo-svg-pi-4 {
  fill: #e81f64;
}

.logo-svg-pi-5 {
  fill: #c21e5c;
}

.logo-svg-r-1 {
  fill: #ef4438;
}

.logo-svg-r-2 {
  fill: #e57373;
}

.logo-svg-r-3 {
  fill: #d32e2e;
}

.logo-svg-r-4 {
  fill: #ef4438;
}

.logo-svg-r-5 {
  fill: #d32e2e;
}

.logo-svg-o-1 {
  fill: #f47c20;
}

.logo-svg-o-2 {
  fill: #f8951f;
}

.logo-svg-o-3 {
  fill: #f47c20;
}

.logo-svg-o-4 {
  fill: #fcb452;
}

.logo-svg-y-1 {
  fill: #fedc63;
}

.logo-svg-y-2 {
  fill: #fecd27;
}

.logo-svg-y-3 {
  fill: #faa71c;
}

.logo-svg-g-1,
.logo-svg-g-2,
.logo-svg-g-3,
.logo-svg-c-1,
.logo-svg-c-2,
.logo-svg-c-3,
.logo-svg-c-4,
.logo-svg-b-1,
.logo-svg-b-2,
.logo-svg-b-3,
.logo-svg-b-4,
.logo-svg-pu-1,
.logo-svg-pu-2,
.logo-svg-pu-3,
.logo-svg-pu-4,
.logo-svg-pi-1,
.logo-svg-pi-2,
.logo-svg-pi-3,
.logo-svg-pi-4,
.logo-svg-pi-5,
.logo-svg-r-1,
.logo-svg-r-2,
.logo-svg-r-3,
.logo-svg-r-4,
.logo-svg-r-5,
.logo-svg-o-1,
.logo-svg-o-2,
.logo-svg-o-3,
.logo-svg-o-4,
.logo-svg-y-1,
.logo-svg-y-2,
.logo-svg-y-3 {
  stroke: whitesmoke;
  stroke-width: 0.3;
}
