.poly-green-1 {
  fill: #3fae52;
}

.poly-green-2 {
  fill: #3fae52;
}

.poly-green-3 {
  fill: #2d8d43;
}

.poly-cyan-1 {
  fill: #00bad2;
}

.poly-cyan-2 {
  fill: #0097a7;
}

.poly-cyan-3 {
  fill: #4ac4d7;
}

.poly-cyan-4 {
  fill: #00bad2;
}

.poly-blue-1 {
  fill: #62b3e4;
}

.poly-blue-2 {
  fill: #1b77bd;
}

.poly-blue-3 {
  fill: #62b3e4;
}

.poly-blue-4 {
  fill: #3191cf;
}

.poly-purple-1 {
  fill: #7a3594;
}

.poly-purple-2 {
  fill: #944198;
}

.poly-purple-3 {
  fill: #b06eae;
}

.poly-purple-4 {
  fill: #944198;
}

.poly-pink-1 {
  fill: #e81f64;
}

.poly-pink-2 {
  fill: #c21e5c;
}

.poly-pink-3 {
  fill: #f06392;
}

.poly-pink-4 {
  fill: #e81f64;
}

.poly-pink-5 {
  fill: #c21e5c;
}

.poly-red-1 {
  fill: #ef4438;
}

.poly-red-2 {
  fill: #e57373;
}

.poly-red-3 {
  fill: #d32e2e;
}

.poly-red-4 {
  fill: #ef4438;
}

.poly-red-5 {
  fill: #d32e2e;
}

.poly-orange-1 {
  fill: #f47c20;
}

.poly-orange-2 {
  fill: #f8951f;
}

.poly-orange-3 {
  fill: #f47c20;
}

.poly-orange-4 {
  fill: #fcb452;
}

.poly-yellow-1 {
  fill: #fedc63;
}

.poly-yellow-2 {
  fill: #fecd27;
}

.poly-yellow-3 {
  fill: #faa71c;
}

.poly-green-1,
.poly-green-2,
.poly-green-3,
.poly-cyan-1,
.poly-cyan-2,
.poly-cyan-3,
.poly-cyan-4,
.poly-blue-1,
.poly-blue-2,
.poly-blue-3,
.poly-blue-4,
.poly-purple-1,
.poly-purple-2,
.poly-purple-3,
.poly-purple-4,
.poly-pink-1,
.poly-pink-2,
.poly-pink-3,
.poly-pink-4,
.poly-pink-5,
.poly-red-1,
.poly-red-2,
.poly-red-3,
.poly-red-4,
.poly-red-5,
.poly-orange-1,
.poly-orange-2,
.poly-orange-3,
.poly-orange-4,
.poly-yellow-1,
.poly-yellow-2,
.poly-yellow-3 {
  stroke: darkcyan;
  stroke-width: 0.3;
}
